{% extends 'news/base.html' %}
{% load static %}

{% block title %} Update {% endblock title %}

{% block content %}

  <section id="contentSection">
    <div class="row">
      <div class="col-lg-8 col-md-8 col-sm-8">
        <div class="left_content">
          <div class="contact_area">
            <h2>YOU ARE WELCOME, <span style="color: black">{{ user.username }}</span></h2><br>
            <hr>
            <img src="{{ profile.image.url }}" width="40%" alt="photo">
            <h4>Birthday: {{ profile.birth_of_day }}</h4>
            <label>Username:</label><input value="{{ user.username }}"  readonly placeholder="please, fill in"><br>
            <label>Email:</label><input value="{{ user.email }}"  readonly placeholder="please, fill in"><br>
            <label>FirstName:</label><input value="{{ user.first_name }}"  readonly placeholder="please, fill in"><br>
            <label>LastName:</label><input value="{{ user.last_name }}"  readonly placeholder="please, fill in"><br>
            <hr>
            <a href="{% url 'password_change' %}"><button class="btn btn-info">CHANGE PASSWORD</button></a>
            <a href="{% url 'edit_user_information' %}"><button class="btn btn-primary">CHANGE INFORMATION</button></a>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-4 col-sm-4">
        <aside class="right_content">
          <div class="single_sidebar">
            <h2><span>Popular Post</span></h2>
            <ul class="spost_nav">
              <li>
                <div class="media wow fadeInDown"> <a href="single_page.html" class="media-left"> <img alt="" src="{% static 'images/post_img1.jpg' %}"> </a>
                  <div class="media-body"> <a href="single_page.html" class="catg_title"> Aliquam malesuada diam eget turpis varius 1</a> </div>
                </div>
              </li>
              <li>
                <div class="media wow fadeInDown"> <a href="single_page.html" class="media-left"> <img alt="" src="{% static 'images/post_img2.jpg' %}"> </a>
                  <div class="media-body"> <a href="single_page.html" class="catg_title"> Aliquam malesuada diam eget turpis varius 2</a> </div>
                </div>
              </li>
              <li>
                <div class="media wow fadeInDown"> <a href="single_page.html" class="media-left"> <img alt="" src="{% static 'images/post_img1.jpg' %}"> </a>
                  <div class="media-body"> <a href="single_page.html" class="catg_title"> Aliquam malesuada diam eget turpis varius 3</a> </div>
                </div>
              </li>
              <li>
                <div class="media wow fadeInDown"> <a href="single_page.html" class="media-left"> <img alt="" src="{% static 'images/post_img2.jpg' %}"> </a>
                  <div class="media-body"> <a href="single_page.html" class="catg_title"> Aliquam malesuada diam eget turpis varius 4</a> </div>
                </div>
              </li>
            </ul>
          </div>
        </aside>
      </div>
    </div>
  </section>

{% endblock content %}